* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

$main-background: rgb(154, 231, 231);
$game-background: rgba(255,255,255,0.5);
$button-background: rgba(255, 255, 255, 0.5);
$button-hover: rgba(216, 216, 216, 0.5);

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: $main-background;
}

.btn {
    background: $button-background;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 5px;
    padding: 1rem;
}

.btn:hover {
    background: $button-hover; 
}

#main-menu {
    @include center;
    width: 100vw;
    height: 100vh;
    .main-container {
        background: $game-background;
        width: 500px;
        height: 600px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .menu-header {
        @include center;
        flex-direction: column;

        p {
            text-align: center;
        }
    }

    .menu-buttons {
        .menu-btn {
            background: $button-background;
            padding: 1rem;
            border: none;
            margin: 1rem;
            cursor: pointer;
            border-radius: 5px;
        }

        .menu-btn:hover {
            background: $button-hover;
        }
    }
}

#game {
    .game-container {
        text-align: center;
    }
    .game-container {
        @include center;
        flex-direction: column; 
    }
    
    .game-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }

    .prevNum {
        width: 50%;
        background: $game-background;   
        border: 1px solid rgb(96,96,96);
        border-radius: 15px;
        padding: 1.5rem;

        .prevNum-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            padding: 1.5rem;    
        }
    }

}

#card {
    width: 100%;
    .card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 1.5rem;
        .num {
            width: 100px;
            height: 100px;
            .card-value {
                z-index: 10;
            }
        }
    }

    .matched {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .matched::before {
        position: absolute;
        content: '';
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: red;
        z-index: 1;
    }
}