* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

@font-face {
    font-family: TiltNeon;
    src: url("C:/Users/Jerry/Desktop/Bingo/bingo/public/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
}

$main-background: rgba(24,34,69,255);
$game-background: rgba(255,255,255,0.5);
$button-background: linear-gradient(80deg, rgba(0,129,255,1) 50%, rgba(0,164,255,1) 100%);
$desc-text: rgba(255,255,255,0.5);

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: $main-background;
}

.btn {
    background: $button-background;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#main-menu {
    @include center;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    .main-container {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 70%; 
    }

    .menu-header {
        color: #fff;
        margin-bottom: 3rem;
        h1 {
            font-size: 32px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-bottom: 1rem;
            span {
                position: relative;
                font-size: 128px;
                left: -6px;
            }
        }
        p {
            max-width: 450px;
            color: $desc-text;
        }
    }

    .menu-buttons {
        .menu-btn {
            background: $button-background;
            padding: 1rem;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

#game {
    .game-over-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    .game-over {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $main-background;
        z-index: 10;
        padding: 3rem;
        border-radius: 5px;
        text-transform: uppercase;
        h1 {
            margin-bottom: 1rem;
        }
    }

    .game-container {
        text-align: center;
        @include center;
        flex-direction: column; 
        padding: 3rem;
    }
    
    .game-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }

    .prevNum {
        width: 50%;
        border: 1px solid #fff;
        border-radius: 15px;
        padding: 1.5rem;
        margin-top: 3rem;
        .prevNum-container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            padding: 1.5rem;    
        }
    }

}

#card {
    width: 100%;
    border: 1px solid #fff;
    padding: 1rem;
    margin: 3rem 0;

    .card-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        margin: 1.5rem;
        padding: 1rem;
        .num {
            width: 75px;
            height: 75px;
            background: none;
            border: 1px solid #fff;
            .card-value {
                z-index: 10;
            }
        }
    }

    .matched {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .matched::before {
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        z-index: 1;
    }
}

.bingo-logo {
    font-family: 'Neon', sans-serif;
    position: relative;
    font-size: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-text {
        display: flex;
        flex-direction: column;
        color: #fff;
        span:first-child {
            position: relative;
            font-size: 46px;
        }
        span:nth-child(2) {
            position: relative;
            font-size: 72px;
            left: -1px;
        }
        span:last-child {
            position: relative;
            left: -5px;
        }
    }
    .circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow:
        inset 0 0 25px #fff,      /* inner white */
        inset 20px 0 50px #f0f,   /* inner left magenta short */
        inset -20px 0 50px #0ff,  /* inner right cyan short */
        inset 20px 0 10px #f0f,  /* inner left magenta broad */
        inset -20px 0 10px #0ff, /* inner right cyan broad */
        0 0 10px #fff,            /* outer white */
        -10px 0 50px #f0f,        /* outer left magenta */
        10px 0 50px #0ff;         /* outer right cyan */
        z-index: -1;
    }
    
    .card {
        position: absolute;
        left: 200px;
        top: 5px;
        width: 100px;
        height: 120px;
        border: 5px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        border-radius: 5px;
        .card-grid {
            position: relative;
            top: -6px;
            border: 1px solid #fff;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            .grid-items {
                border: inherit;
                width: 15px;
                height: 15px;
            }
        }

    }
}