* {
  margin: 0;
  padding: 0;
  color: #fff;
}

@font-face {
  font-family: "TiltNeon";
  src: url("../fonts/TiltNeon-Regular.ttf") format("truetype");
}
body {
  font-family: "TiltNeon", sans-serif;
  background: rgb(24, 34, 69);
}

.btn {
  background: linear-gradient(80deg, rgb(0, 129, 255) 50%, rgb(0, 164, 255) 100%);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
}
#main-menu .main-container {
  display: flex;
  flex-direction: column;
}
#main-menu img {
  width: 70%;
}
#main-menu .menu-header {
  color: #fff;
  margin-bottom: 3rem;
}
#main-menu .menu-header h1 {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 1rem;
}
#main-menu .menu-header h1 span {
  position: relative;
  font-size: 128px;
  left: -6px;
}
#main-menu .menu-header p {
  max-width: 450px;
  color: rgba(255, 255, 255, 0.5);
}
#main-menu .menu-buttons .menu-btn {
  background: linear-gradient(80deg, rgb(0, 129, 255) 50%, rgb(0, 164, 255) 100%);
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#game .game-over-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#game .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(24, 34, 69);
  z-index: 10;
  padding: 3rem;
  border-radius: 5px;
  text-transform: uppercase;
}
#game .game-over h1 {
  margin-bottom: 1rem;
}
#game .game-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}
#game .game-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
#game .prevNum {
  width: 50%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top: 3rem;
}
#game .prevNum .prevNum-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 1.5rem;
}

#card {
  width: 100%;
  border: 1px solid #fff;
  padding: 1rem;
  margin: 3rem 0;
  background: rgb(185, 87, 87);
  border-radius: 5%;
}
#card .card-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  margin: 1.5rem;
  padding: 1rem;
}
#card .card-container .num {
  width: 75px;
  height: 75px;
  background: none;
  border: 1px solid #333;
  background: #fff;
}
#card .card-container .num .card-value {
  color: #333;
}
#card .matched {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card .matched::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgb(185, 87, 87);
  z-index: 1;
}

@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.bingo-logo {
  position: relative;
  font-size: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bingo-logo .logo-text {
  font-family: "TiltNeon" !important;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.bingo-logo .logo-text span:first-child {
  position: relative;
  font-size: 46px;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f;
}
.bingo-logo .logo-text span:nth-child(2) {
  position: relative;
  font-size: 72px;
  left: -1px;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f;
}
.bingo-logo .logo-text span:last-child {
  position: relative;
  top: -25px;
  left: -5px;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f, 0 0 10px #0ff, 0 0 10px #f0f;
}
.bingo-logo .circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: inset 0 0 10px #fff, inset 5px 0 50px #f0f, inset -5px 0 50px #0ff, inset 5px 0 10px #f0f, inset -5px 0 10px #0ff, 0 0 10px #fff, -10px 0 50px #f0f, 10px 0 50px #0ff; /* outer right cyan */
  animation: circle-spin 3.5s infinite linear;
}
.bingo-logo .card {
  position: absolute;
  left: 165px;
  top: 20px;
  width: 110px;
  height: 130px;
  border: 5px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #fff, inset 5px 0 30px #f0f, inset -5px 0 30px #0ff, inset 5px 0 5px #f0f, inset -5px 0 5px #0ff, 0 0 5px #fff, -5px 0 30px #f0f, 5px 0 30px #0ff; /* outer right cyan */
}
.bingo-logo .card .card-grid {
  position: relative;
  top: -6px;
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: inherit;
}
.bingo-logo .card .card-grid .grid-items {
  border: inherit;
  width: 15px;
  height: 15px;
}/*# sourceMappingURL=styles.css.map */