* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}
* {
  font-family: "Bebas", sans-serif;
  letter-spacing: 0.15rem;
  color: #fff;
}

#main-menu {
  background: #f0d3eb;
}
#main-menu .menu-buttons {
  display: flex;
  justify-content: space-between;
  width: 550px;
}
#main-menu .menu-buttons .btn {
  padding: 1.5rem 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#main-menu .menu-buttons .btn button {
  font-size: 16px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#main-menu .menu-buttons .btn:first-child {
  background: rgb(255, 200, 38);
  background: linear-gradient(54deg, rgb(255, 200, 38) 0%, rgb(253, 151, 23) 100%);
  box-shadow: 2px 4px #bd043e;
}
#main-menu .menu-buttons .btn:first-child:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px #bd043e;
}
#main-menu .menu-buttons .btn:last-child {
  background: rgb(68, 232, 218);
  background: linear-gradient(97deg, rgb(68, 232, 218) 0%, rgb(70, 162, 215) 100%);
  box-shadow: 2px 4px #213782;
}
#main-menu .menu-buttons .btn:last-child:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px #213782;
}
#main-menu .top-container {
  display: flex;
  flex-direction: column;
  background: rgb(230, 89, 142);
  background: linear-gradient(45deg, rgb(230, 89, 142) 10%, rgb(248, 195, 125) 50%, rgb(198, 229, 154) 75%, rgb(101, 223, 193) 100%);
  padding: 3rem 10rem;
  height: 100vh;
  border-bottom-left-radius: 95% 8%;
  border-bottom-right-radius: 95% 8%;
}
#main-menu .top-container nav {
  display: flex;
  align-items: center;
}
#main-menu .top-container nav h1 {
  font-size: 34px;
  margin-right: 30%;
}
#main-menu .top-container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#main-menu .top-container nav ul a {
  cursor: pointer;
  padding-bottom: 0.2rem;
  font-size: 18px;
}
#main-menu .top-container nav ul a:hover {
  border-bottom: 2px solid #fff;
}
#main-menu .top-container nav ul a:last-child {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem 5rem;
}
#main-menu .top-container .menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main-menu .top-container .menu-container .menu-header {
  margin-top: 3rem;
  color: #fff;
  margin-bottom: 4rem;
}
#main-menu .top-container .menu-container .menu-header h1 {
  font-size: 160px;
}
#main-menu .top-container .menu-container .menu-header p {
  max-width: 550px;
  line-height: 3;
  font-size: 12px;
  color: #ececec;
}
#main-menu .bottom-container {
  height: 50vh;
}

#game {
  background: #F0D3EB;
  height: 100vh;
  width: 100vw;
}
#game .game-over-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#game .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F0D3EB;
  z-index: 10;
  padding: 3rem;
  border-radius: 5px;
  text-transform: uppercase;
}
#game .game-over h1 {
  margin-bottom: 1rem;
}
#game .timer {
  position: absolute;
  background: #F0D3EB;
  border: 5px solid #B2A4FF;
  width: 150px;
  height: 150px;
  margin: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game .timer h1 {
  font-size: 56px;
}
#game .game-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#game .game-container .game-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
#game .game-header {
  display: flex;
}
#game .game-header * {
  margin-right: 1rem;
}
#game .game-header .prevNum {
  width: 315px;
  height: 50px;
  border-bottom: 1px solid #333;
}
#game .game-header .prevNum .prevNum-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#game .game-header .prevNum .prevNum-container h1 {
  background: #ff9f8a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 100%;
  margin: 3rem 0;
  border-radius: 5%;
}
#card .container {
  background: #B2A4FF;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
}
#card .container .new-btn {
  color: #333;
  position: absolute;
  background: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  align-self: flex-start;
  margin: 10px 0 0 10px;
  cursor: pointer;
}
#card .card-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin: 1.5rem 1.5rem 0 1.5rem;
}
#card .card-title p {
  font-weight: 800;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 76px;
}
#card .card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1.5rem;
}
#card .card-container .num {
  height: 10vh;
  background: none;
  border: 1px solid #333;
  background: #fff;
  border-radius: 5px;
}
#card .card-container .num .card-value {
  font-size: 36px;
  color: #333;
}
#card .matched {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card .matched::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #333;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */